body {
    background-color: #8458B3;
}

nav {
    height: 60px;
}

.header {
    color: black;
    font-size: 3.75vw;
    letter-spacing: 1px;
    padding-left: 10px;
    margin-bottom: 1.67em;
    text-align: center;
    /* background: rgba(0, 34, 114, 0.65) */
}

.labels {
    text-align: center;
}

#result {
    color: black;
    font-size: 3.75vw;
    letter-spacing: 1px;
    padding-left: 10px;
    margin-bottom: 1.67em;
    text-align: center;
}


/* .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: blueviolet;
    max-width: 1024px;
    width: auto;
    height: 600px;
} */